	<div class="content">
		<div class="row">
			<h2><strong>Financial Information</strong></h2> 
	      	<div class="sm">P 3 of 5</div>
	      	<form action="/applicationForm/financial_info/{{_id}}" method="POST">
			 	<input type="hidden" name="_id" value="{{_id}}">
			 	<h6>Do you need financial assistance</h6>
				<div class="">
       				<input type="radio" style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="financial_supp" value="yes" {{financialSupportYes}}>Yes<br />
       				<input type="radio" style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="financial_supp" value="no" {{financialSupportNo}}>No<br />
    			</div>
				</br>
				<div class="form-pagebreak">
					<button class="saveForLater" name="saveForLaterBtn">Save for later</button> 
	</div> 
			<br>
	<div class="form-pagebreak">
<button class="previousPage" name="backBtn"><a href="/applicationForm/question2/{{_id}}"></span>Back</a></button>
<button class="next" name="nextBtn">next</button>

				</div>
			</form>
		</div>
	</div>