<!--<h1>codeX Application {{first_name}} : codeX Application - Saved for Later<h1>-->

<h3>Dear {{first_name}}</h3>

Your application to codeX has been saved. To complete the application, go to: {{route}}

Your application status is: <strong>{{application_status}}</strong>.<br />
Please note: All fields must be completed in order for us to process your application.

You will be able to edit the form until the Status is COMPLETED.<br />
We have sent you an email with the link to complete your application on this email address {{email_address}}


